
* {
    box-sizing: border-box;
    transition: 0.2s;
}

html {
    font-family: opensans;
    color: var(--clr5);
    line-height: 1.25;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

canvas {
    background-color: grey;
}

.logo {
    font-family: minecraft;
    color: black;
}

.nav-button {
    margin: 0.5rem;
}

.nav-button:hover {
    transform: scale(1.3);
    background-color: goldenrod;
    box-shadow: 0.2rem 0.2rem rgba(160, 25, 25, 0.637);
}

.gallery-grid {
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, 300px);
    grid-gap: 1.5rem;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a:hover {
    border-radius: 10%;
    transform: scale(1.2);
    padding: 0.2rem 0.2rem;
}

button {
    background-color: rgba(250, 228, 186, 0.274);
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8%;
}

.nightmode button {
    color: var(--clr2);
}

button:hover {
    background-color: rgba(173, 216, 230, 0.514);
}

input {
    background-color: rgba(250, 228, 186, 0.137);
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10%;
}

.gallery-item {
    border-radius: 5%;
    width: 300px;
    height: auto;
}

.gallery-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: solid var(--clr1) 0.3rem;
}
button:active{
    animation-name: wiggle;
    animation-duration: 0.25s;
}

img{
    box-sizing: content-box;
}
