@keyframes wiggle {
  0% {
    transform: translateY(15px);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(7px);
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0)
  }
}