
@font-face {
    font-family: minecraft;
    src: url(/Graphics/Fonts/minecraft/1_Minecraft-Regular.otf);
}
@font-face{
    font-family: opensans;
    src: url(/Graphics/Fonts/opensans/OpenSans-Regular.ttf);
}

